.linha{
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}

h1{
    text-align: center;
}

.App{
    color: white;
    margin: auto;
    max-width: 900px;
    background-color: #7C4DFF;
}